global
  log stdout format raw daemon info
  tune.lua.bool-sample-conversion normal
  lua-load /lua/user-identity.lua

defaults
  log  global
  mode http

  option httplog
  option dontlognull

  timeout connect 5s
  timeout client  30s
  timeout server  30s

  default-server init-addr last,libc,none check resolvers local

resolvers local
  parse-resolv-conf

frontend http
  bind :8080

  http-request set-var(txn.bearer) hdr("${JWT_HEADER}")
  http-request set-var(txn.alg) var(txn.bearer),jwt_header_query('$.alg')
  http-request set-var(txn.aud) var(txn.bearer),jwt_payload_query('$.aud')
  http-request set-var(txn.exp) var(txn.bearer),jwt_payload_query('$.exp','int')
  http-request set-var(txn.now) date

  # acls for JWT verification
  acl jwt_alg_ok var(txn.alg) -m str "${JWT_ALGORITHM}"
  acl jwt_signature_ok var(txn.bearer),jwt_verify(txn.alg,"/keys/key0.pem") 1
  acl jwt_signature_ok var(txn.bearer),jwt_verify(txn.alg,"/keys/key1.pem") 1
  # check for both forms as user and service tokens have different formats
  acl jwt_aud_ok var(txn.aud) -m reg \[\""${JWT_AUD}"\"\]
  acl jwt_aud_ok var(txn.aud) -m str "${JWT_AUD}"
  acl jwt_expired var(txn.exp),sub(txn.now) lt 0

  # deny here if JWT is not valid (basic checks first before full signature verification)
  http-request deny unless jwt_alg_ok jwt_aud_ok ! jwt_expired
  http-request deny unless jwt_signature_ok

  # set vars for later
  http-request set-var(txn.sub) var(txn.bearer),jwt_payload_query('$.sub')
  acl is_service_token var(txn.sub),length -m int 0 
  http-request set-var(txn.email) var(txn.bearer),jwt_payload_query('$.email') if ! is_service_token
  http-request set-var(txn.cn) var(txn.bearer),jwt_payload_query('$.common_name') if is_service_token

  # user JWT
  http-request set-header X-WEBAUTH-USER "%[var(txn.email),regsub('(.*)@.*','\1')]" if ! is_service_token
  http-request set-header X-WEBAUTH-EMAIL "%[var(txn.email)]" if ! is_service_token

  # service token JWT
  http-request set-header X-WEBAUTH-USER "%[var(txn.cn)]" if is_service_token
  http-request set-header X-WEBAUTH-EMAIL "%[var(txn.cn)]@nonidentity" if is_service_token

  default_backend gitea

backend gitea
  server gitea server:3000
