global
  log stdout format raw daemon info

defaults
  log  global
  mode http

  option httplog
  option dontlognull

  timeout connect 5s
  timeout client  30s
  timeout server  30s

  default-server init-addr last,libc,none check resolvers local

resolvers local
  parse-resolv-conf

frontend http
  bind :8080

  http-request set-var(txn.jwt) req.hdr("${JWT_HEADER}")
  
  filter spoe engine jwt config /config/spoe.cfg
  http-request send-spoe-group jwt verify

  acl jwt_valid var(txn.jwt.jwt_valid) -m bool true
  acl has_email var(txn.jwt.claims.email) -m found

  http-request reject unless jwt_valid has_email
  http-request set-header X-WEBAUTH-USER "%[var(txn.jwt.claims.email),regsub('(.*)@.*','\1'),debug(user,stdout)]"
  http-request set-header X-WEBAUTH-EMAIL "%[var(txn.jwt.claims.email),debug(email,stdout)]"
  http-request set-src hdr(x-forwarded-for)

  default_backend gitea

backend gitea
  server gitea server:3000 send-proxy

backend be_spoe
  mode tcp
  timeout connect 5s
  timeout server  5m
  server spoa spoa:3000 check
